<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967683373829-etonh967dnlo7mrmtha7qvbl78u9a3s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967683373829-etonh967dnlo7mrmtha7qvbl78u9a3s9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967683373829-4k5ut5k12o375qc2da2pr47jj9dufk64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4nCLpr4TR7qZXUzTdGURhc4pHeVh7tPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>967683373829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ausmatths.hikerConnect</string>
	<key>PROJECT_ID</key>
	<string>hiker-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>hiker-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967683373829:ios:6c3b56c7d7bc735e20956c</string>
	<key>DATABASE_URL</key>
	<string>https://hiker-connect-default-rtdb.firebaseio.com</string>
</dict>
</plist>